.checkoutSummary {
  text-align: center;
  width: 80%;
  margin: auto;
}

.BurgerContainer {
  width: "100%";
  margin: "auto";
}

.Price {
  font-size: 2.4rem;
}

@media (min-width: 600px) {
  .Price {
    font-size: 2rem;
  }
}
