.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  border: 1px solid rgb(158, 158, 158);
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: auto;
  background-color: white;
}

.Invalid {
  border: 1px solid rgb(209, 70, 70);
  background-color: rgb(255 246 245);
}

.InputElement:invalid {
  background-color: rgb(255, 233, 233);
}
